* {
  box-shadow: none !important;
}
.editorPlaceholder,
.monaco-mouse-cursor-text,
.shadow-root-host,
.windows, 
.mac {
  font-family: Maple Mono NF !important;
}
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.breadcrumbs
  .breadcrumbs-control
  .monaco-icon-label
  .label-name,
.monaco-workbench .part.statusbar {
  font-size: 13px !important;
}
[id='alefragnani.project-manager.projectManager.statusBar'] {
  order: 1 !important;
}
[id='status.scm.0'] {
  order: 2 !important;
}
[id='status.scm.1'] {
  order: 3 !important;
}
[id='status.problems'] {
  order: 4 !important;
}
[id='vscodevim.vim.primary'] {
  order: 5 !important;
}
[id='be5invis.vscode-custom-css'] {
  display: none !important;
}
