:root {
  --ctp-overlay2: 147, 153, 178;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
  --ctp-surface0: #313244;
  --ctp-surface1: #45475a;
  --ctp-text: rgba(var(--ctp-base-rgb), 0.25);
  --ctp-font: 'Maple Mono NF';
}

#main-window {
  --zen-branding-dark: var(--ctp-mantle) !important;
  --zen-toolbar-element-bg: rgba(var(--ctp-overlay2), 0.25) !important;
  --lwt-accent-color-inactive: var(--ctp-crust) !important;
  --zen-themed-toolbar-bg: var(--ctp-mantle) !important;
  --zen-themed-toolbar-bg-transparent: var(--ctp-mantle) !important;
}

#urlbar:not([breakout-extend='true']):hover #urlbar-background {
  background: rgba(var(--ctp-overlay2), 0.4) !important;
}

.browserContainer > findbar {
  background: var(--ctp-mantle) !important;
}

#zen-media-controls-toolbar > toolbaritem {
  --zen-media-control-bg: var(--ctp-surface0) !important;
}

.tab-icon-overlay {
  background: var(--ctp-surface0) !important;
}

* {
  font-family: var(--ctp-font) !important;
}

#tabbrowser-tabs {
  --tab-selected-bgcolor: var(--ctp-text) !important;
}

#urlbar[open] #urlbar-background {
  background-color: var(--zen-branding-dark) !important;
}
