:root {
        --newtab-background-color: #181825 !important;
}

@-moz-document url("about:home"), url("about:newtab") {
        .activity-stream::before{
                content: none;
                left: 10px;
        }

        .activity-stream::after{
                content: none;
                right: 10px;
        }

}

@-moz-document url-prefix("https://www.notion.so") {
        .notion-app-inner {
                font-family: system-ui !important;
        }
}
