/* --- CONTEXT MENU SPACING - Increase spacing, adjust icon alignment --- */

menupopup > :is(menuitem, menu) {
    max-width: 500px !important;
}

@media (-moz-bool-pref: "shyfox.enable.ext.mono.context.icons") {
    #contentAreaContextMenu, #toolbar-context-menu, #unified-extensions-context-menu{
        menuitem[id*="plasma-browser-integration_kde_org-menuitem-_purpose_share"]{
            .menu-iconic-icon {opacity: 0 !important;}
            background-image: url("../icons/kde-plasma.svg") !important;
        }
        menu[id*="nordvpnproxy_nordvpn_com-menuitem-_nordvpn_extension_context_menu_group"]{
            .menu-iconic-icon {opacity: 0 !important;}
            background-image: url("../icons/nord-vpn.svg") !important;
        }
    }
}


menupopup:not(.in-menulist) > menuitem,
menupopup:not(.in-menulist) > menu {
    padding-block: 8px !important;
    padding-inline-start: 17px !important;
}
:root {
    --arrowpanel-menuitem-padding: 4px 8px !important;
}


:is(#toolbar-context-menu, #contentAreaContextMenu, #unified-extensions-context-menu, #downloadsContextMenu, #placesContext, #sidebarMenu-popup, #BMB_bookmarksPopup) :is(menuitem, menu):not(#\9):not(#\9):not(#\9):not(#\9) {
    background-position-y: 12px !important;
    background-position-x: 12px !important;
}

:is(#toolbar-context-menu, #contentAreaContextMenu, #unified-extensions-context-menu, #downloadsContextMenu, #placesContext, #sidebarMenu-popup, #BMB_bookmarksPopup) :is(menuitem, menu) {
    &:not(.menuitem-iconic, .menu-iconic, [type="checkbox"], [type="radio"]) > label {
        margin-inline-start: 25px !important;
    }
}

:is(#toolbar-context-menu, #contentAreaContextMenu, #unified-extensions-context-menu, #downloadsContextMenu, #placesContext, #sidebarMenu-popup, #BMB_bookmarksPopup) :is(menuitem, menu) {
    & .menu-iconic-text {
        margin-inline-start: 4px !important;
    }
}

/* --- THEME - Make navbar and toolbar background match the catpuucin theme --- */
:root{
    /* panel (Navbar, Toolbar) backgrond color */
    --tb-col: #181825;
}

@media not (prefers-contrast) {
    :root:not([lwtheme]) {
        /* address bar background color */
        --toolbar-field-background-color: #24273A !important;
    }
}

/* ------ */
toolbarbutton.bookmark-item:not(.subviewbutton) {
    padding-inline: 8px !important;

    & .toolbarbutton-text {
        display: none !important;
    }

    & .toolbarbutton-icon {
        margin-inline-end: 0px !important
    }
}

#PlacesChevron .toolbarbutton-icon {
    width: 32px !important;
    padding-inline: 8px !important;
}

#OtherBookmarks:not(#\9 ) {
    width: 32px !important;
    background-position: center !important;
}
