# yaml-language-server: $schema=https://raw.githubusercontent.com/hareki/lazygit/master/schema/config.json
os:
  editPreset: 'nvim-remote'
  edit: >
    [ -z "$NVIM" ] && NVIM_NO_STATUS_LINE=1 nvim -- "{{filename}}" ||
    (nvim --server "$NVIM" --remote-send "q" &&
     nvim --server "$NVIM" --remote "{{filename}}")
  editAtLine: >
    [ -z "$NVIM" ] && NVIM_NO_STATUS_LINE=1 nvim +{{line}} -- "{{filename}}" ||
    (nvim --server "$NVIM" --remote-send "q" &&
     nvim --server "$NVIM" --remote "{{filename}}" &&
     nvim --server "$NVIM" --remote-send ":{{line}}<CR>")
  openDirInEditor: >
    [ -z "$NVIM" ] && NVIM_NO_STATUS_LINE=1 nvim -- "{{dir}}" ||
    (nvim --server "$NVIM" --remote-send "q" &&
     nvim --server "$NVIM" --remote "{{dir}}")

gui:
  switchTabsWithPanelJumpKeys: true
  cursorStyle: 'blinkingBar'
  scrollHeight: 4
  authorColors:
    '*': '#b4befe'
  nerdFontsVersion: '3'
  # https://github.com/catppuccin/lazygit
  theme:
    activeBorderColor:
      - '#89b4fa'
      - bold
    inactiveBorderColor:
      - '#a6adc8'
    optionsTextColor:
      - '#89b4fa'
    selectedLineBgColor:
      - '#313244'
    cherryPickedCommitBgColor:
      - '#45475a'
    cherryPickedCommitFgColor:
      - '#89b4fa'
    unstagedChangesColor:
      - '#f38ba8'
    defaultFgColor:
      - '#cdd6f4'
    searchingActiveBorderColor:
      - '#f9e2af'
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
