* {
  font-family: 'Maple Mono NF' !important;
}

/* Unified site panel */
.panel-viewcontainer {
  background-color: #1e1e2e !important;
}

#zen-site-data-header {
  & toolbarbutton {
    &:hover::before {
      opacity: 1;
    }

    &::before {
      border: none !important;
      box-shadow: none !important;
      background: var(--toolbarbutton-hover-background) !important;
      opacity: 0;
    }
  }
}

.menupopup-arrowscrollbox {
  background-color: #1e1e2e !important;
}

/* Folder popup */
#zen-folder-tabs-popup {
  & .tabs-list-header {
    background: #1e1e2e !important;
  }

  & .zen-folder-tabs-list-scrollbox {
    background: #1e1e2e !important;
    scrollbar-color: color-mix(in srgb, currentColor 26%, transparent) transparent !important;
  }
}

.tab-list-item-secondary-label {
  font-size: 0.9em !important;
}

/* Remove shadow around the webpage */
hbox.browserSidebarContainer,
#zen-tabbox-wrapper {
  box-shadow: none !important;
}

zen-workspace {
  --zen-primary-color: #89b4fa !important;

  & > arrowscrollbox {
    margin-top: 6px;
  }
}

.zen-current-workspace-indicator {
  display: none !important;
}

& .urlbar-background {
  --zen-urlbar-background-base: #1e1e2e !important;
}

/* ---- Zen workspaces button ---- */
#zen-workspaces-button {
  & toolbarbutton {
    &[active='true'],
    &:hover,
    &[dragged='true'] {
      color: #89b4fa !important;
    }
  }
}

/* ---- Zen folder ---- */
zen-folder {
  --zen-folder-behind-bgcolor: #9399b2 !important;
  --zen-folder-front-bgcolor: #313244 !important;
  --zen-folder-stroke: #cdd6f4 !important;
}

.tab-group-folder-icon {
  transform: translateY(-2px) !important;
}

/* ---- Sidebar tabs styles ---- */
#tabbrowser-tabs {
  font-size: 14px !important;
  --tab-selected-textcolor: #89b4fa !important;
  --tab-selected-bgcolor: #89b4fa1a !important;
}

.tabbrowser-tab {
  color: #cdd6f4 !important;
  opacity: 1 !important;
}

/* "New Tab" button when selected */
toolbarbutton[in-urlbar='true'] {
  & image[label='New Tab'] {
    fill: #89b4fa !important;
  }

  & label[value='New Tab'] {
    color: #89b4fa !important;
  }
}

/* ---- URL bar styles ---- */
/* Boxes appear when we type the prefix */
#urlbar-search-mode-indicator,
#urlbar-label-box {
  background: #89b4fa !important;
  color: #11111b !important;
}

.urlbarView-row {
  /* Selected URL bar row */
  &[selected] {
    background-color: #89b4fa1a !important;
    & *,
    & .urlbarView-title-separator::before {
      color: #89b4fa !important;
    }

    /* Matching text in the URL bar */
    & strong {
      color: #f9e2af !important;
    }
  }
}

/* ---- URL bar input  ---- */
#urlbar[open][zen-floating-urlbar='true'] {
  font-size: 16px !important;
}

/* Other components */
#zen-media-controls-toolbar {
  & > toolbaritem {
    --zen-media-control-bg: #313244 !important;
    box-shadow: none !important;
  }
}

.zen-glance-sidebar-container {
  & toolbarbutton {
    /* Glance buttons */
    background: #45475a !important;
  }
}

#zen-toast-container {
  color: #11111b !important;

  & button {
    color: inherit !important;
    background-color: rgba(205, 214, 244, 0.4) !important;
  }
}

/* Disable the sidebar from being dragged as a window */
#TabsToolbar {
  -moz-window-dragging: no-drag !important;
}

/* ---- From https://github.com/catppuccin/zen-browser Mocha Blue with some modifications ---- */
:root {
  --zen-colors-primary: #313244 !important;
  --zen-primary-color: #89b4fa !important;
  --zen-colors-secondary: #313244 !important;
  --zen-colors-tertiary: #181825 !important;
  --zen-colors-border: #89b4fa !important;
  --toolbarbutton-icon-fill: #cdd6f4 !important;
  --lwt-text-color: #cdd6f4 !important;
  --toolbar-field-color: #cdd6f4 !important;
  --toolbar-field-focus-color: #cdd6f4 !important;
  --toolbar-color: #cdd6f4 !important;
  --newtab-text-primary-color: #cdd6f4 !important;
  --arrowpanel-color: #cdd6f4 !important;
  --arrowpanel-background: #1e1e2e !important;
  --sidebar-text-color: #cdd6f4 !important;
  --lwt-sidebar-text-color: #cdd6f4 !important;
  --lwt-sidebar-background-color: #11111b !important;
  --toolbar-bgcolor: #313244 !important;
  --newtab-background-color: #1e1e2e !important;
  --zen-themed-toolbar-bg: #181825 !important;
  --zen-main-browser-background: #181825 !important;
  --toolbox-bgcolor-inactive: #181825 !important;
}

.sidebar-placesTree {
  background-color: #1e1e2e !important;
}

#zen-workspaces-button {
  background-color: #1e1e2e !important;
}

#TabsToolbar {
  background-color: #181825 !important;
}

#urlbar-background {
  background-color: #1e1e2e !important;
}

.content-shortcuts {
  background-color: #1e1e2e !important;
  border-color: #89b4fa !important;
}

.urlbarView-url {
  color: #9399b2 !important;
  font-size: 13px !important;
}

.urlbarView-row {
  color: #cdd6f4 !important;
}

#zenEditBookmarkPanelFaviconContainer {
  background: #11111b !important;
}

#zen-media-controls-toolbar {
  & #zen-media-progress-bar {
    &::-moz-range-track {
      background: #313244 !important;
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #89b4fa !important;
  --identity-icon-color: #89b4fa !important;
}

.identity-color-turquoise {
  --identity-tab-color: #94e2d5 !important;
  --identity-icon-color: #94e2d5 !important;
}

.identity-color-green {
  --identity-tab-color: #a6e3a1 !important;
  --identity-icon-color: #a6e3a1 !important;
}

.identity-color-yellow {
  --identity-tab-color: #f9e2af !important;
  --identity-icon-color: #f9e2af !important;
}

.identity-color-orange {
  --identity-tab-color: #fab387 !important;
  --identity-icon-color: #fab387 !important;
}

.identity-color-red {
  --identity-tab-color: #f38ba8 !important;
  --identity-icon-color: #f38ba8 !important;
}

.identity-color-pink {
  --identity-tab-color: #f5c2e7 !important;
  --identity-icon-color: #f5c2e7 !important;
}

.identity-color-purple {
  --identity-tab-color: #cba6f7 !important;
  --identity-icon-color: #cba6f7 !important;
}

hbox#titlebar {
  background-color: #181825 !important;
}

#zen-appcontent-navbar-container {
  background-color: #181825 !important;
}
